<!DOCTYPE html>
<html>
    <head>
	<title>Obietaxi - {% block title %}Welcome{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" />
	{% block styles %}
	{% endblock %}

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>    
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.min.js"></script>
	{% block scripts %}
	{% endblock %}
    </head>
    <body>
	<div id="wrapper">
	    <div id="heading">
		<h1>{% block heading %}Obietaxi{% endblock %}</h1>
	    </div>
	    <div id="messages">
		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}
	    </div>
	    <div id="content">
		{% block content %}
		{% endblock %}
	    </div>      
	    <!-- empty div, pushes the footer to the bottom of the page -->
	    <div id="push"></div>
	</div> <!-- wrapper -->

	{% block footer %}
	<div id="footer">
	    <div id="navigation">    
		<ul class="navlinks">
		    <li><a href="{% url main_page %}">Home</a></li>
		    <li><a href="{% url browse %}">Browse</a></li>
		    {% if not user.is_authenticated %}
		    <!-- TODO: make popup menu that allows login/login with google -->	  
		    <li><a href="{% url login %}">Login</a></li>
		    <li><a href="{% url register %}">Register</a></li>
		    {% else %}
		    <li><a href="{% url logout %}">Logout</a></li>
		    <li><a href="{% url user_home %}">(logged in as {{ user.username }})</a></li>
		    {% endif %}	  
		</ul>
	    </div>
	</div> <!-- footer -->
	{% endblock %}
    </body>
</html>
