{% extends "base.html" %}
{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO-9pr8jiFPszeyxuABOc4RoTTSr1o5wE&sensor=false&libraries=places"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/RouteBoxer.js"></script>
  <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/points.js"></script> -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/browse-elements.js"></script>

  <!-- this will re-display the right modal popup, if the form inside did not validate last time -->
  {% if invalid %}
    <script type="text/javascript">
      $(document).ready(
	 function() {
	     if ( '{{invalid}}' === 'offer' ) {
		 $("#new_offer_modal").modal('show');
	     } else if ( '{{invalid}}' === 'request' ) {
		 $("#new_request_modal").modal('show');
	     }
	 }
      );
    </script>
  {% endif %}
{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}timepicker/css/timepicker.css" />
{% endblock %}
{% block title %}Browse{% endblock %}
{% block heading %}Browse{% endblock %}
{% block content %}

  <!-- ask for ride/offer a ride buttons -->
  <a href="#new_offer_modal" class="btn" role="button" data-toggle="modal">Offer a Ride</a>
  <a href="#new_request_modal" class="btn" role="button" data-toggle="modal">Ask for a Ride</a>

  <!-- modal for offering a ride -->
  <div id="new_offer_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Offer a Ride</h3>
    </div>
    <!-- form in modal -->
    <div class="modal-body">
      <div class="new_offer_modal_form">
	{% load crispy_forms_tags %}
	{% crispy offer_form %}
      </div>
      <div class="new_offer_modal_map" style="display:none">
	<p>Map goes here</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="new_offer_modal_form">
	<button type="button" class="btn btn-primary" id="offer_show_map_button">Next</button>
      </div>
      <div class="new_offer_modal_map" style="display:none">
	<button type="button" class="btn" id="offer_show_form_button">Back</button>
	<button type="button" class="btn btn-primary" id="offer_ride_button">OK</button>
      </div>
    </div>
  </div>

  <!-- modal for requesting a ride -->
  <div id="new_request_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Ask for a Ride</h3>
    </div>
    <div class="modal-body">
      {% load crispy_forms_tags %}
      {% crispy request_form %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="ask_for_ride_button">OK</button>
    </div>
  </div>

  {% if ride_requests %}
    <h2>Ride Requests</h2>
    <table name="ride_requests" id="ride_request_table" class="browse_table">
      <tr><th>Departing from</th><th>Going to</th><th>Date</th><th>Name</th></tr>
      {% for item in ride_requests %}
	<tr id="ride_request_listing_{{ item.id }}">
	  <td><a href="/request/show/?request_id={{ item.id }}">{{ item.start }}</a></td>
	  <td><a href="/request/show/?request_id={{ item.id }}">{{ item.end }}</a></td>
	  <td><a href="/request/show/?request_id={{ item.id }}">{{ item.date }}</a></td>
	  <td><a href="/accounts/profile/?user_id={{ item.passenger.id }}">{{ item.passenger }}</a></td>
	</tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if ride_offers %}
    <h2>Ride Offers</h2>
    <table name="ride_offers" id="ride_offer_table" class="browse_table">
      <tr><th>Departing from</th><th>Going to</th><th>Date</th><th>Name</th></tr>
      {% for item in ride_offers %}
	<tr id="ride_offer_listing_{{ item.id }}">
	  <td><a href="/offer/show/?offer_id={{ item.id }}">{{ item.start }}</a></td>
	  <td><a href="/offer/show/?offer_id={{ item.id }}">{{ item.end }}</a></td>
	  <td><a href="/offer/show/?offer_id={{ item.id }}">{{ item.date }}</a></td>
	  <td><a href="/accounts/profile/?user_id={{ item.driver.id }}">{{ item.driver }}</a></td>
	</tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}
