{% extends "base.html" %}
{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO-9pr8jiFPszeyxuABOc4RoTTSr1o5wE&sensor=false&libraries=places"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/RouteBoxer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}combobox/js/jquery.combobox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/browse-elements.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/points.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>

  <!-- this will re-display the right modal popup, if the form inside did not validate last time -->
  {% if invalid %}
    <script type="text/javascript">
      $(document).ready(
	 function() {
	     if ( '{{invalid}}' === 'offer' ) {
		 $("#new_offer_modal").modal('show');
	     } else if ( '{{invalid}}' === 'request' ) {
		 $("#new_request_modal").modal('show');
	     }
	 }
      );
    </script>
  {% endif %}
  <script type="text/javascript">
    // Sorting on the browse table
    $(document).ready(
	function() {
	    // All rides in the browse page
	    var rides = [
		{% for req in ride_requests %}
		  {"type":"request",
		   "start":"{{ req.start }}",
		   "end":"{{ req.end }}",
		   "date":Date.parse("{{ req.date }}"),
		   "link":"{% url request_show req.id %}",
		   "contact":"{{ req.passenger }}",
		   "contact_link":"{% url user_home req.passenger.id %}"},
		{% endfor %}
		{% for offer in ride_offers %}
		  {"type":"offer",
		   "start":"{{ offer.start }}",
		   "end":"{{ offer.end }}",
		   "date":Date.parse("{{ offer.date }}"),
		   "link":"{% url offer_show offer.id %}",
		   "contact":"{{ offer.driver }}",
		   "contact_link":"{% url user_home offer.driver.id %}"},
		{% endfor %}
	    ];

	    console.log(rides);

	    // What to do when sorting
	    var sortBrowse = function( comparator ) {
		// Remove all rows in the table except for the headings
		$("#ride_table").remove("tr:not(.rt_headings)");
		// Do the sorting
		rides.sort(comparator);
		// Write the HTML
		for ( var i=0; i<rides.length; i++ ) {
		    var row = $("<tr></tr>");
		    var linktext = rides[i].type === "offer" ? "offering a ride" : "asking for a ride";
		    row
			.append("<td class=\"askoffer_cell\">"
			       +"<a href=\""+rides[i].link+"\">"
			       +linktext
			       +"</a></td>")
			.append("<td class=\"startpos_cell\">"
				+rides[i].start
				+"</td>")
			.append("<td class=\"endpos_cell\">"
				+rides[i].end
				+"</td>")
			.append("<td class=\"datetime_cell\">"
				+rides[i].date
				+"</td>")
			.append("<td class=\"contact_cell\">"
				+"<a href=\""+rides[i].contact_link+"\">"
				+rides[i].contact
				+"</a></td>");
		    $("#ride_table").append( row );
		}
	    };

	    // Various comparators
	    var sortAsking = function(a,b) {
		return a.type.localeCompare(b);
	    }
	    var sortOffering = function(a,b) {
		return -1*sortAsking(a,b);
	    };
	    var sortStarting = function(a,b) {

	    };
	    var sortEnding = function(a,b) {

	    };
	    var sortDateTime = function(a,b) {

	    };
	    var sortContact = function(a,b) {

	    };

	    // Handlers for sorting links
	    $(".askoffer_cell_hdg a:contains('asking')").click(
		function(event) {
		    event.preventDefault();
		    sortBrowse(sortAsking);
		}
	    );
	    $(".askoffer_cell_hdg a:contains('offering')").click(
		function(event) {
		    event.preventDefault();
		    sortBrowse(sortOffering);
		}
	    );
	}
    );
  </script>
{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datepicker/css/datepicker.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}timepicker/css/timepicker.css" />
{% endblock %}
{% block title %}Browse{% endblock %}
{% block heading %}Browse{% endblock %}
{% block content %}

  <!-- ask for ride/offer a ride buttons -->
  <a href="#new_offer_modal" class="btn" role="button" data-toggle="modal">Offer a Ride</a>
  <a href="#new_request_modal" class="btn" role="button" data-toggle="modal">Ask for a Ride</a>

  <!-- modal for offering a ride -->
  <div id="new_offer_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Offer a Ride</h3>
    </div>
    <div class="modal-body">
      <div class="new_offer_modal_form">
	{% load crispy_forms_tags %}
	{% crispy offer_form %}
      </div>
      <div class="new_offer_modal_map" style="display:none">
	<p>Please check the route below against how you actually plan on getting
	to your destination. We'll use this information to inform passengers who
	also need rides along or near your route.</p>
	<div id="map_canvas"></div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="new_offer_modal_form">
	<button type="button" class="btn btn-primary" id="offer_show_map_button">Next</button>
      </div>
      <div class="new_offer_modal_map" style="display:none">
	<button type="button" class="btn" id="offer_show_form_button">Back</button>
	<button type="button" class="btn btn-primary" id="offer_ride_button">OK</button>
      </div>
    </div>
  </div>

  <!-- modal for requesting a ride -->
  <div id="new_request_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Ask for a Ride</h3>
    </div>
    <div class="modal-body">
      {% load crispy_forms_tags %}
      {% crispy request_form %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="ask_for_ride_button">OK</button>
    </div>
  </div>

  <h2>Rides</h2>
  <table name="rides" id="ride_table" class="browse_table">
    <tr class="rt_headings">
      <th class="askoffer_cell_hdg"><a href="#">asking</a>/<a href="#">offering</a></th>
      <th class="startpos_cell_hdg"><a href="#">departing from</a></th>
      <th class="endpos_cell_hdg"><a href="#">going to</a></th>
      <th class="datetime_cell_hdg"><a href="#">date/time</a></th>
      <th class="contact_cell_hdg"><a href="#">contact</a></th>
    </tr>
    {% for req in ride_requests %}
      <tr>
	<td class="askoffer_cell">
	  <a href="{% url request_show req.id %}">looking for a ride</a>
	</td>
  	<td class="startpos_cell">{{ req.start }}</td>
  	<td class="endpos_cell">{{ req.end }}</td>
  	<td class="datetime_cell">{{ req.date }}</td>
	<td class="contact_cell">
	  <a href="{% url user_home req.passenger.id %}">{{ req.passenger }}</a>
	</td>
      </tr>
    {% endfor %}
    {% for offer in ride_offers %}
      <tr>
	<td class="askoffer_cell">
	  <a href="{% url offer_show offer.id %}">offering a ride</a>
	</td>
  	<td class="startpos_cell">{{ offer.start }}</td>
  	<td class="endpos_cell">{{ offer.end }}</td>
  	<td class="datetime_cell">{{ offer.date }}</td>
	<td class="contact_cell">
	  <a href="{% url user_home offer.driver.id %}">{{ offer.driver }}</a>
	</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
