{% extends "base.html" %}
{% block scripts %}<script type="text/javascript" src="{{ STATIC_URL }}js/browse.js"></script>{% endblock %}
{% block title %}Browse{% endblock %}
{% block heading %}Browse{% endblock %}
{% block content %}

  {% if ride_requests %}  
    <ul>
      {% for item in ride_requests %}
	<li>
	  <div class="rr_div" id="{{ item.id }}"><a href="#">Request from {{ item.start }} to
	      {{ item.end }} on {{ item.date }}
	      {% if item.repeat %}
	      (repeats {{ item.repeat }})
	      {% endif %}
	    </a>
	  </div>
	</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if ride_offers %}
    <ul>
      {% for item in ride_offers %}
	<li>
	  <div class="ro_div" id="{{ item.id }}"><a href="#">Offer from {{ item.start }} to {{ item.end }} on {{ item.date }}</a>
	  </div>	      
	</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
