{% extends "base.html" %}

{% block scripts %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO-9pr8jiFPszeyxuABOc4RoTTSr1o5wE&sensor=false&libraries=places"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/fuzzy-locations.js"> </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/styles-init.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/RouteBoxer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/points.js"></script>

{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}timepicker/css/timepicker.css" />
{% endblock %}

{% block content %}
<div id="left_panel" class="left_panel">

    {% load crispy_forms_tags %}
    <!-- this renders the entire form, including start/end tags and submit buttons -->
    {% crispy form %}

</div>

<div id="right_panel" class="right_panel">
    <div id="map_canvas"></div>
    <div id="ride_listing"></div>
</div>



{% endblock %}
