{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/options.js"></script>
{% endblock %}

{% block title %} Offer Options {% endblock %}
{% block heading %} Options {% endblock %}

{% block content %}

<h3>Passengers</h3>
{% if rider_list %}
<ul>
  {% for rider in rider_list %}
  <li>{{ rider }}
  </li>
</ul>
{% else %}
<p>Your ride has no passengers.</p>
{% endif %}

{% load crispy_forms_tags %}
<!-- this renders the form -->
{% crispy form %}

{% endblock %}
