{% extends "base.html" %}
{% block title %}{{ ride_request.start.title }} to {{ ride_request.end.title }}{% endblock %}
{% block smaller_heading %}{{ ride_request.start.title }} to {{ ride_request.end.title }}{% endblock %}
{% block content %}
  <h3>Details</h3>
  <table name="offer_details" id="offer_details" class="item_detail">
    <tr><th>Passenger</th><td>{{ ride_request.passenger }}</td></tr>
    <tr><th>Departing at</th><td>{{ ride_request.date }}</td></tr>
    <tr><th>Departing from</th><td>{{ ride_request.start }}</td></tr>
    <tr><th>Going to</th><td>{{ ride_request.end }}</td></tr>
  </table>

  {% if form %}
    {% load crispy_forms_tags %}
    <!-- this renders the entire form, including start/end tags and submit buttons -->
    {% crispy form %}
  {% endif %}

  {% with offer=ride_request.ride_offer %}
    {% if offer and user_profile == offer.driver %}
      <p>You are the driver for this trip.</p>
    {% endif %}
  {% endwith %}

{% endblock %}
