{% extends "base.html" %}
{% block title %}Offer from {{ ride_offer.start.title }} to {{ ride_offer.end.title }}{% endblock %}
{% block heading %}Offer from {{ ride_offer.start.title }} to {{ ride_offer.end.title }}{% endblock %}
{% block content %}
  {{ ride_offer.driver }} is offering rides from {{ ride_offer.start.title }} to {{ ride_offer.end.title }}. Does this itinerary fit any of your needs?
  <!-- TODO: answer the above question if possible -->
  <strong>Intended departure:</strong> {{ ride_offer.date }}

  {% if form %}
    {% load crispy_forms_tags %}
    <!-- this renders the entire form, including start/end tags and submit buttons -->
    {% crispy form %}
  {% else %}
    <p>You have already sent a message to this driver requesting a ride.</p>
  {% endif %}
{% endblock %}
