{% extends "base.html" %}
{% block title %}{{profile}}{% endblock %}
{% block smaller_heading %}{{profile}}{% endblock %}
{% block content %}
  <h3>Activity</h3>
  <p>{{ rides_requested|length }} ride{{ rides_requested|pluralize }} asked for</p>
  <p>{{ rides_offered|length }} ride{{ rides_offered|pluralize }} offered</p>

  <h3>Trust</h3>
<p>{{profile}} has earned <strong>{{profile.trust|length}} Trust point{{profile.trust|pluralize}}</strong>. {% if profile.trust|length < 1 %}This may be be because {{profile.user.first_name}} has never completed a ride through Obietaxi.</p>{% endif %}
{% endblock %}
