{% extends "base.html" %}
{% block title %}Your Account{% endblock %}
{% block heading %}Your Account{% endblock %}
{% block content %}
  {% if ride_requests_completed or ride_offers_completed %}
    <h2>Rides Completed</h2>
    {% if ride_offers_completed %}
      <h3>Rides in which you drove</h3>
      <ul>
	{% for offer in ride_offers_completed %}
	  <li>
	    {% if offer.passengers %}
	      <a href="/offer/feedback/?offer_id={{ offer.id }}">
	    {% endif %}
	      {{ offer.start }} to {{ offer.end }} on {{ offer.date }}
	    {% if offer.passengers %}
	      </a>
	    {% endif %}
	  </li>
	{% endfor %}
      </ul>
    {% endif %}
    {% if ride_requests_completed %}
      <h3>Rides in which you were a passenger</h3>
      <ul>
	{% for req in ride_requests_completed %}
	{% if req.ride_offer %}
	  <li>
	    <a href="{% url ride_feedback req.id %}">
	    {{ req.start }} to {{ req.end }} on {{ req.date }}
	    </a>
	  </li>
	{% endif %}
	{% endfor %}
      </ul>
    {% endif %}
  {% endif %}

  <h3>Rides You Requested</h3>
  {% if rides_requested %}
    <ul>
      {% for ride in rides_requested %}
	<!-- brief description of ride requested -->
      <li>{{ ride.start }} to {{ ride.end }} on {{ ride.date }}
	<!-- if there was an offer accepted -->
	{% if ride.ride_offer %}
	  (accepted an <a href="/offer/show/?offer_id={{ ride.ride_offer.id }}">offer</a>)
	  <!-- no offer accepted, show standing offers if any -->
	{% else %}
	  {% with askers=ride.askers %}
	    {% if askers|length > 0 %}({{ askers|length }} offer{{ askers|pluralize }}){% endif %}
	  {% endwith %}
	{% endif %}
	<!-- "options" link -->
	<a href="{% url request_options ride.id %}">options</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>You aren't riding in any upcoming trips.</p>
  {% endif %}
  <h3>Rides You Offered</h3>
  {% if rides_offered %}
    <ul>
      {% for ride in rides_offered %}
	<!-- brief description of ride offered -->
        <li>{{ ride.start }} to {{ ride.end }} on {{ ride.date }}
	  <!-- TODO: show all pending passengers -->
	  <br />
	  <!-- show all passengers on the ride -->
	  {% with passengers=ride.passengers %}
	    {% if passengers|length > 0 %}
	      {{ passengers|length }} passenger{{ passengers|pluralize }} |
	    {% endif %}
	  {% endwith %}
	  {% with askers=ride.askers %}
	    {% if askers|length > 0 %}
	      <strong>
		{{ ride.askers|length }} {% if askers|length > 1 %}others want{% else %}other wants{% endif %} to join!
	      </strong> |
	    {% endif %}
	    <!-- "options" link -->
	    {% if askers|length > 0 %}<strong>{% endif %}
	      <a href="{% url offer_options ride.id %}">manage</a>
	    {% if askers|length > 0 %}</strong>{% endif %} |
	  {% endwith %}
	  <a href="{% url offer_show ride.id %}">view</a>
	</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You aren't driving in any upcoming trips.</p>
  {% endif %}

  <h3>Trust</h3>
  <p>You have earned <strong>{{profile.trust|length}} Trust point{{profile.trust|pluralize}}</strong>. You can earn more Trust by completing more rides through Obietaxi.</p>

{% endblock %}
