{% extends "mol_base.html" %}
{% block content %}

  <div id="forms_container">
    {% load crispy_forms_tags %}
    <!-- renders the form -->
    {% crispy form %}

    <div id="google_signin_div">
      <p>This will work with your oberlin.edu mail address and password.</p>
      <strong>or</strong>
      <form action="{{ endpoint }}" method="POST">
	{% csrf_token %}
	<!-- used for openid POST request to Google -->
	{% for key, value in params.items %}
	  <input type="hidden" name="{{ key }}" value="{{ value }}" />
	{% endfor %}
	<input type="submit" value="Sign in with Google" />
      </form>
    </div>
  </div>

{% endblock %}
