{% extends "mol_base.html" %}
{% block content %}

  <div id="forms_container">
    {% load crispy_forms_tags %}
    <!-- renders the form -->
    {% crispy form %}
    <div id="google_signin_div">
      <strong>or</strong>
      <form action="{{ endpoint }}" method="POST">
	{% csrf_token %}
	<!-- used for openid POST request to Google -->
	{% for key, value in params.items %}
	  <input type="hidden" name="{{ key }}" value="{{ value }}" />
	{% endfor %}
	<input id="google_signin_btn" class="btn" type="submit" value="Sign in with Google" />
      </form>
    </div>
  </div>

  <div id="login_paragraph">
  <h4 style="margin-top: 30px;"> Don't have an Obietaxi account? </h4>
  <p style="color:#743308"> <a href="{% url register %}">Register for an Obietaxi account</a>, or just sign in with a Google account (such as your oberlin.edu account) by clicking the "Sign in with Google" button above.</p>
  </div>


{% endblock %}
