
/* color palette */
@main-font: helvetica;

/* yellows */
@main-yellow: #ffb400;
@dusty-yellow: #bf9530;
@dark-yellow: #a67500;
@light-yellow: #ffc740;
@pale-yellow: #ffd673;
@transparent-pale-yellow: rgba(255, 240, 220, 0.93);

/* blues */
@main-blue: #1531AE;
@dusty-blue: #2d3c82;
@dark-blue: #071a71;
@light-blue: #4962d6;
@pale-blue: #6f81d6;

/* some mixins */
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.checker-border {
border:15px solid transparent;
    -moz-border-image:url('/static/images/checkers-mini.png') 30 30 round; /* Old Firefox */
    -webkit-border-image:url('/static/images/checkers-mini.png') 30 30 round; /* Safari */
    -o-border-image:url('/static/images/checkers-mini.png') 30 30 round; /* Opera */
    border-image:url('/static/images/checkers-mini.png') 30 30 30 repeat;
}

* {
    margin: 0;
}

html { width: 100%; height:100% }
body {
    width: 100%;
    height:100%;
    padding:0;
    margin-top: -10px;
    background-color:black;
}
#wrapper {
    /*height: auto !important;*/
    min-height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto -100px;
    background-image: url('/static/images/Oberlin_street_big.png');
    background-size: cover;
}

.modal-body {
    max-height: 800px !important;
}

.pac-container {
    /* this is needed so that bootstrap's modal views don't cover up google places autocomplete */
    z-index:1051 !important;
}

#right_panel_wrapper {
    float:right;
    width:45%;
    overflow:hidden;
}


#heading {
    margin-left:auto;
    margin-right:auto;
    height:50px;
}

#logo {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px 40px 0px 0px;
}

#give_content_a_fucking_margin_top{
    height: 30px;
}

#content {
    margin:auto;
    position:relative;
    width:800px;
    min-height: 600px;
    padding: 20px;
    background-color: @transparent-pale-yellow;
    /*.rounded-corners;*/
    .checker-border;
}

#left_panel {
    width:50%;
    height:auto;
/*border: 1px dotted #a0a0a0;*/
}

#right_panel {
    float:right;
}

#map_canvas {
    height: 330px;
    width: 100%;
}

#ride_listing {
    width: 100%;
    height: 40%;
    margin-top: 10px;
    overflow-y: auto;
}

#push {
    height: 100px;
    z-index: -10;
}

#push, #footer{
    clear: both;
    position: relative;
}

#footer {
    height: 30px;
    background-color: black;
    padding: 20px;
    z-index: 20;
}

.checkers {
    height: 30px;
    width: 100%;
    background-image:url('/static/images/checkers-mini.png');
    position: relative;
}

#footer_navigation {
    padding-top: 5px;
}

#navigation {
    height:30px;
    clear:both;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    text-align: center;

}

.navlinks {
    list-style-type: none;
}

.navlinks li {
    display:inline;
}

.navlinks a {
    color: @main-yellow;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    display:inline;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.maplabels {
    background-color:white;
    padding:5px;
    border:2px solid gray;
    white-space:nowrap;
}

.navlinks a:hover {
    color: black;
    text-decoration: none;
    background-color: @main-yellow;
    border-radius: 5px 5px 5px 5px;
}

.form-actions {
    background-color: #ffffff;
    border: none;
}

legend {
    border: none;
    font-size: 34px;
    font-weight: bold;
}

.form-actions{
    background-color: inherit;
}
